<div class="container row">
    <div class="col-12 col-sm-3">
        <h4>
            <a routerLink="/">auto.market</a>
        </h4>
    </div>

    <div class="col-12 col-sm-2">
        <p>
            <a routerLink="/">Home</a>
        </p>
        <p>
            <a routerLink="sell-car">Sell car</a>
        </p>
        <p>
            <a routerLink="buy-car">Buy car</a>
        </p>
        <p>
            <a routerLink="/">Dealers</a>
        </p>
    </div>

    <div class="col-12 col-sm-2">
        <p>
            <a routerLink="/">Terms of Use</a>
        </p>
        <p>
            <a routerLink="/">Priacy Policy</a>
        </p>
        <p>
            <a routerLink="/">Cookie Policy</a>
        </p>
        <p>
            <a routerLink="/">AdChoice</a>
        </p>
    </div>

    <div class="col-12 col-sm-2">
        <p>
            <a routerLink="/">Contact Us</a>
        </p>
        <p>
            <a routerLink="/">Careers</a>
        </p>
        <p>
            <a routerLink="/">Help</a>
        </p>
        <p>
            <a routerLink="/">FAQ</a>
        </p>
    </div>

    <div class="col-12 col-sm-3">
        <p>
            <a>App store</a>
        </p>
        <p>
            <a>Google Play</a>
        </p>
    </div>

</div>